<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <title>Title</title>
</head>
<body>

<h1>Agents By Pincode</h1>
<main id="agents">
    <agent th:each="a:${agents}">
        <h1 th:text="${a.name}"></h1>
        <h2 th:text="${a.storeName}"></h2>
        <h3 th:text="${a.gmapUrl}"></h3>
        <h4 th:text="${a.photoUrl}"></h4>
        <h4 th:text="${a.address}"></h4>



        </div>
    </agent>
</main>

</body>
</html>